*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Baloo Tammudu 2', cursive;
    background-image: url(assets/topography.svg), linear-gradient(110deg, #cc2b5e, #753a88);
    background-size: 340px, auto;
    min-height: calc(100vh - 100px);
    margin: 15px 10px;
    background-attachment: fixed;
}

.button{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.navbar{
    margin-top: -25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: black;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
}

.navbar__brand{
    width: 80px;
    display: flex;
    margin: 5px;
}

.navbar__brand__name{
    font-size: 0px;
    visibility: hidden;
}

.nav__item{
    visibility: hidden;
}

.navbar__logo{
    width: 100%;
    height: 100%;
    align-items: center;
}

.navbar__nav__items{
    align-items: center;
    
}

.nav__item{
    font-size: 0px;
}


.nav__item__menu{
    align-items: center;
    margin-right: 5px;
    margin-top: 10px;
}



.nav__item__menu:hover{
    background-color: grey;
    border-radius: 10px; 
    cursor: pointer;
}

.quote__container{
    margin-top: 25px;
    width: 100%;
    position: relative;
}

.quote__bg__image{
    width: 100%;
}

.quote__image{
    width: 100%;
    filter: blur(1px);
    border-radius: 25px;
    opacity: 90%;
}    

.quote__description{
    position: absolute;
    top: 15%;
    left: 15%;
    bottom: 15%;
    right: 15%;
}

.quote__text{
    color: white;
    width: 100%;
    text-align: center;
    font-size: 15px;
}



.search{
    margin-top: 40px;
    display: flex;
    align-items: center; 
    justify-content: space-around;
    margin-bottom: 50px;
}

.bg__search{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 

.search__img{ 
    width: 100%;
    border-radius: 25px;
    opacity: 60%;
    height: 150px; 
}

.searchbar__search__items{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.search__button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}

.search__button:hover{
    background-color: rgba(0, 0, 0, 0.548);
    border-radius: 50px;
}

.search__item{
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px;
}

.searchbar{
    padding: 10px;
    border-radius: 25px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 2px solid black;
    cursor: text;
    overflow: hidden;
    width: 100%; 
}

::placeholder { 
    color: white;
    font-size: 20px;
    text-align: center;
}

.image{
    margin-top: 25px;
    width: 100%;
    margin-bottom: 60px;
}

.bg__image{
    background-image: url(assets/moroccan-flower.png);
    align-items: center;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
} 

.image__heading{
    font-family: 'Tangerine', cursive;
    font-size: 75px;
    text-align: center;
    margin: 10px;
    color: black;
    text-shadow: 4px 3px 0px rgb(224, 224, 224), 9px 8px 0px rgba(0,0,0,0.15);
}

.big__image{
    width: 100%;
    margin-top: 20px;
}

.big__image__1{
    width: 100%;
    box-shadow: 5px 10px 18px #000000;
    border: 5px solid rgb(0, 0, 0);;
}

.small__images{
    width: 100%;
    margin-top: 5px;
}

.small__image__1{
    width: 100%;
    box-shadow: 5px 10px 18px #000000;
    border: 5px solid rgb(0, 0, 0);
}

.see-more__button1{
    padding: 5px;
    margin: 10px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    font-size: 20px;
}

.see-more__button1:hover{
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(224, 214, 214, 0.424);
}

.vdo{
    width: 100%;
    margin-top: 25px;
}

.vdo__image{
    background-image: url(assets/7-Best-Pattern-of-Background-Images-for-Websites-1-Dark-Wood.jpg);
    width: 100%;
    border-radius: 25px;
    padding: 5px 15px;
}

.vdo__heading{
    font-family: 'Tangerine', cursive;
    font-size: 75px;
    text-align: center;
    margin: 10px;
    color: white;
    padding: 5px;
    text-shadow: 4px 3px 0px rgb(0, 0, 0), 9px 8px 0px rgba(0,0,0,0.15);
}

.vdo__componenets{
    align-content: center;
}


.small__vdos{
    width: 100%;
    margin-top: 5px;
}

.small__vdo__1{
    width: 100%;
    box-shadow: 5px 10px 18px #000000;
    border: 2px solid white;
}

.big__vdo{
    width: 100%;
    margin-top: 8px;
    align-content: center;
}

.big__vdo__1{
    width: 100%;
    box-shadow: 5px 10px 18px #000000;
    border: 2px solid white;
}

.see-more__button2{
    color: white;
    padding: 5px;
    margin: 10px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    font-size: 20px;
}

.see-more__button2:hover{
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgba(224, 214, 214, 0.424);
}

.gif__container{
    margin-top: 50px;
    border-radius: 25px;
    background-image: url(https://images.pexels.com/photos/3780104/pexels-photo-3780104.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.gif__heading{
    color: white;
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 75px;
    text-shadow: 4px 3px 0px rgba(255, 255, 255, 0.39), 9px 8px 0px rgba(0,0,0,0.15);
    padding-top: 20px;
    margin-bottom: 20px;
}

.gif__description{
    color: white;
    text-align: center;
    padding: 5px;
}

.gif__item__1, 
.gif__item__2,
.gif__item__3,
.gif__item__4,
.gif__item__5,
.gif__item__6{
    width: 100%;
    margin-top: 10px;
}

.giphy-embed{
    width: 100%;
}

.foot{
    background-color: black;
    display: flex;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    margin-bottom: -15px;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.foot__media-handles{
    margin-top: 10px;
}

.media__handles{
    padding: 8px;
}

.copyright{
    color: white;
    font-size: 11px;
}

.media__handles:hover{
    background-color: grey;
    border-radius: 10px;
    
}



@media (min-width: 1020px){
    body{
        margin: 15px 115px;
    }

    .navbar__brand{
        width: 100px;
    }

    .navbar__brand__name{
        color: white;
        font-family: 'Tangerine', cursive;
        visibility: hidden;
        margin-left: 18px;
        font-size: 60px;
        align-items: center;
        margin: auto 10px;
        visibility: visible;
    }

    .nav__item__menu{
        visibility: hidden;
    }

    .nav__item{
        font-size: 20px;
        margin-left: 25px;
        padding: 3px 2px;
        visibility: visible;
    }
    
    .nav__item:hover{
        background-color: grey;
        border-radius: 10px; 
        cursor: pointer;
    }

    .navbar__nav__items{
        display: flex;
        color: white;
        gap: 5px;
        align-items: center;
    }

    .quote__image{
        filter: blur(3px);
    }

    .quote__description{
        top: 20%;
        left: 20%;
    }

    .quote__text{
        font-size: 40px;
        text-shadow: 4px 4px 7px rgba(142, 106, 122, 1);
    }

    .image__heading{
        font-size: 150px;
    }

    .vdo__heading{
        font-size: 150px;
    }

    .image__catl{
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .big__image__container{
        width: 90%;
        align-items: center;
    }

    .small__image__container{
        width: 51%;
        align-items: center;
    }

    .vdo__catl{
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .small__vdo__container{
        display: flex;
        gap: 5px;
        width: 100%;
        align-items: center;
    }

    .big__vdo{
        width: 33.5%;
    }
}